.projects__container {
  max-width: 90%;
  margin: 40px;
  overflow: hidden;
}

.projects__container > h1 {
  text-align: center;
  margin-top: 60px;
  width: 100%;
}

.project__details {
  display: flex;
  align-items: start;
  gap: 40px;
}

.project__details h1 {
  margin-top: 50px;
}

.project__details p {
  margin: 20px 0;
  color: #999;
  font-size: 15px;
  max-width: 300px;
}

/* .project__details div {
  border-right: 1px solid #999;
} */

@media (max-width: 800px) {
  .project__details {
    flex-direction: column;
    gap: 0;
  }
  .projects__container {
    margin: 20px 10px;
  }

  .projects__container > h1 {
    font-size: 20px;
  }

  .project__details div {
    border-right: none;
  }
}
