.technologies__container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../public/images/bg.jpg") center/cover no-repeat fixed;
  padding: 50px 0;
  overflow: hidden;
}

.technologies__container h1 {
  color: white;
  font-weight: 200;
  text-align: center;
}

.tech-stack {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: 12px auto;
  gap: 16px;
  padding: 20px;
}

.technologies__styles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.technoogies__images {
  width: 50px;
  height: 50px;
}
.technoogies__images > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
